.product-image {
  width: 100px;
  height: 100px;
}

.product-images-container {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  min-height: 360px;
}

.form__header-create-product {
  margin-top: 15rem;
}

.form__header-update-product {
  margin-top: 0rem;
}

.product-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.product-form {
  top: 510px;
  min-height: 980px;
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .product-form {
    top: 600px;
  }
}
